{% include "_header.html" %}
    
      <main role="main" class="flex-shrink-0 mt-4 py-5 container">
    
    <div class="row" >
      <div class="p-3 bg-white col-md-4 d-md-block bg-light sidebar collapse" style = "position:fixed" >

        <table class="table  table-hover">
          <thead>
            <tr>
              <th scope="col">나이</th>
              <th scope="col">성별</th>
              <th scope="col">장점</th>
              <th scope="col">단점</th>
              <th scope="col">사는곳/직장</th>
              <th scope="col">이상형</th>          
            </tr>
          </thead>
          <tbody>          
            {% for i in solo %}
            {% if i.user_uid == user_id  %}
            <tr>
            <td>{{i.age }}</td>
            <td>{{i.gender}}</td>
            <td>{{i.pros}}</td>
            <td>{{i.cons}}</td>
            <td>{{i.etc }}</td>
            <td>{{i.muze }}</td>
          </tr>
          {% endif %}
    {% endfor %}          
          </tbody>
        </table>
              
         
      </div>
      <div class = "offset-md-6 col-md-6">     

        <div class="mx-4 ">
          <div class="card">
       
        
            <table class="table  table-hover">
              <thead>
                <tr>
                  <th scope="col">나이</th>
                  <th scope="col">성별</th>
                  <th scope="col">장점</th>
                  <th scope="col">단점</th>
                  <th scope="col">사는곳/직장</th>
                  <th scope="col">이상형</th>
                  <th>친구 번호</th>          
                </tr>
              </thead>
              <tbody>          
                {% for i in solo %}
                {% if not i.user_uid = user_id  %}
                <tr>
                <td>{{i.age }}</td>
                <td>{{i.gender}}</td>
                <td>{{i.pros}}</td>
                <td>{{i.cons}}</td>
                <td>{{i.etc }}</td>
                <td>{{i.muze }}</td>
                <td>{{i.phone }}</td>
              </tr>
              {% endif %}
        {% endfor %}          
              </tbody>
            </table>
                  
</div>
</div>

      

      
</div>
    </div>


  </main>
  {% include "_footer.html" %}
