{% include "_header.html" %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">내 친구를 등록합니다.</h1>
      <p class="col-lg-10 fs-4">
친구의 친구가 이어지게끔 도와줄래요. 큐피트가 될테야
   
      </p>
    </div>
    <div class="col-10 mx-auto col-lg-5">
    
     


<form method="POST"  class="p-5 border rounded-3 bg-light">

 
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name = "friend_phone">
  <label for="floatingInput">좋은 친구1</label>
</div>

 
    <button class="w-100 btn btn-lg btn-dark-blue" type="submit">서로의 친구를 봅니다 </button>
    <hr class="my-4">

</form>

</div>
</div>
</div>


{% include "_footer.html" %}
