{% include "_header.html" %}
    
      <main role="main" class="flex-shrink-0 mt-4 py-5 container">
    
        <h1>Login</h1>
        <form method="post">
          <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        
          {% if hasError %}
            <div class="error">{{error}}</div>
          {% endif %}
        
          <label for="phone">phone</label>
          <input id="phone" type="text" name="phone" value="{{form.phone}}" />
        
          <label for="password">Password</label>
          <input id="password" type="password" name="password" />
        
          <button type="submit">Login</button>
        </form>


  </main>

{% include "_footer.html" %}